pandas>=2.0
numpy>=1.24
scipy>=1.10
lightgbm>=4.0
scikit-learn>=1.3
xgboost>=2.0
PyYAML>=6.0
requests>=2.31
pyarrow>=12.0
pyqlib>=0.9.4
a-trade-calendar>=2028.4.11.1
protobuf<4
setuptools>=68,<70
pytest>=8.0
